body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Rubik";
  color: rgba(255,255,255,0.9);
  background-color: var(--background);
}

:root {
--background: hsl(226, 43%, 10%);
--avatar_color: hsl(246, 80%, 60%);
--section_color: hsl(235, 46%, 20%);
--paragraph_color: hsl(236, 100%, 87%);
}

main {
  margin: 15rem auto;
  width: 75%;
  height: 26rem;
  display: flex;
}

section {
  height: 100%;
  width: 50rem;
  background-color: var(--section_color);
  border-radius: 1rem;
  text-align: left;
}

.avatar {
  background-color: var(--avatar_color);
  border-radius: 1rem;
  height: 60%;
  padding-top: 2rem;
  padding-left: 2rem;
}

.avatar p {
  color: white;
  color: var(--paragraph_color);
  font-size: .8rem;
}

h2 {
  font-weight: 300;
  font-size: 2rem;
  position: relative;
  bottom: 1.1rem;
  letter-spacing: .1  rem;
}

section img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 2px solid white;
}

.choice p {
  padding-left: 2rem;
  color: var(--paragraph_color);
  opacity: .6;
  font-size: 1rem;
}

.choice p:hover {
  color: white;
  opacity: 1;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.container div {
  width: 33%;
  height: 50%;
}
